
/* 
    Created on : Mar 27, 2017, 12:18:36 PM
    Author     : Davide
*/
/*
Regole css generali per tutte le pagine
*/
body{
    background-color: lightblue;
    font: 17px "Lucida Bright", Lucida, serif;
    color: dodgerblue;
    display:block;
}

h1{
    margin-top: 10px;
    color: #FF552F;
    font: 40px "Lucida Bright", Lucida, serif;
    font-weight: bold;
}

#loginPage h1{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    
}

h2{
    margin-top: 10px;
    color: #FF552F;
    font: 30px "Lucida Bright", Lucida, serif;
    font-weight: bold;
}

#divBody{
    padding-top:100px;
    padding-bottom: 60px;
}

#loginPage h2{
    color: #474f87;
    font: 20px "Lucida Bright", Lucida, serif;
    font-weight: bold;
    text-align: center;
}

h3{
    margin-top: 10px;
    color: #FF552F;
    font: 23px "Lucida Bright", Lucida, serif;
    font-weight: bold;
}

a:link{
    font-size: 20px;
    text-decoration: none;
    color: #474f87;
    font-weight: bold;
    text-shadow: 1px 1px #b3ffff;
}

a:visited{
    font-size: 20px;
    text-decoration: none;
    color: #474f87;
    font-weight: bold;
    text-shadow: 1px 1px #b3ffff;
}

a:hover{
    font-weight: bold;
}

/*
Regole per il menu di navigazione, il sommario,l'Header e footer e le colonne
*/

aside{
    
    padding: 5px;
    width: 190px;
    padding-bottom: 100px; 
    margin-bottom: 100px;
    margin-left: 5px;
    background-color: white;
    height: auto;
}

#sommario ol{
    list-style-type: upper-roman;
    list-style-position: inside;
    padding-left:0;
}

#sommario ul{
    padding-left:6px;
    text-justify: distribute;
}

header{
    position: fixed;
    height: 50px;
    width: auto;
    top:0;
    left: 0;
    margin: 5px;
    box-shadow: -5px -5px 5px #474f87;
}

#title{
    float: left;
    padding-right: 10px;
    box-shadow: 0px 0px 20px #8CCCCC;
    border-style: solid;
    border-width: 5px;
    border-color: #8CCCCC;
    background-color: #8CCCCC;
    border-radius: 10px;
}


#sidebar1 li, #sidebar2 li {
    list-style: none;
}

#navTitle{
    display: none;
}

#sidebar2 ol {
    padding-left: 20px;
}

#sidebar1 ul, #sidebar2 ul{
    padding-left: 10px;
    margin-top: 0px;
    margin-left: 0px;
}

#sidebar1 {
    padding: 5px;
    width: 200px;
    padding-bottom: 15px; 
    margin-bottom: 20px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color:  #8CCCCC;
    background-color: white;
    height: auto;
    float: left;
    width: 20%;
    padding-left: 5px;
    margin-top: 100px
    }
    
#people li{
    background-size: 20px;
    background-image: url(img/profile.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 22px;
    }
    
#groups li{
        background-size: 20px;
    background-image: url(img/videogame.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 22px;
    }
    
#sidebar2 {
    padding: 5px;
    width: 200px;
    padding-bottom: 15px; 
    margin-bottom: 25px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color:  #8CCCCC;
    background-color: white;
    height: auto;   
    float: right;
    width: 20%;
    padding-right: 10px;
    margin-top: 100px;
    }

footer{
    
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: auto;
    display: block;
    text-align: center;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px #474f87;
}

header, footer{
    background-color: #8CCCCC;
    color: white;
    text-shadow: 1px 1px black;
    left: 0;
    right: 0;
}

nav ol, nav li{
    list-style-type: none;
    display: inline-block;
}

nav li{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 3px dotted white;
}

nav li:last-child{
    border-right: 3px solid white;
}

/*
Regole per i contenuti della bacheca
*/
.post{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color:#FF552F;
    background-color: white;
    border-radius: 5px;
    width: 500px;
}

.post img{
    margin-left: 22px;
}

.postImg img{
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-color:black;;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 250px;
}

.pname {
    color: #474f87;
    background-size: 20px;
    background-image: url(img/profile.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 20px;
    vertical-align: middle;
    display: block;
    padding-left: 22px;
}

.pcontent {
    font-style:italic;
    border-style:dotted;
    border-color: lightblue;
    background-size: 20px;
    background-image: url(img/pencil.png);
    background-repeat: no-repeat;
    background-position: left;
    height: auto;
    vertical-align: middle;
    display: block;
    padding-left: 22px;
}

.inpForm{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 0px;
    border-radius: 5px;
    border-style: solid;
    border-color:#FF552F;
    background-color: white;
    width: 400px;
}
/*
Regole per i vari form contenenti input
*/
form{
    padding-top: 15px;
    padding-right: 10px;
}

#intro{
    background-size: 70px;
    background-image: url(img/Superman.svg.png);
    background-repeat: no-repeat;
    background-position: top right; 
    font-size: 30px;
    padding:30px;
    margin: 15px;
    text-justify: auto;
    color:#FF552F;
}

#username, #password{
    display: block;
    box-shadow: 2px 2px 5px #474f87;
    border-bottom-color: #8CCCCC;
    border-style: solid;
    border-radius: 5px;
    border-bottom: none;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

#passwordBox, #usernameBox {
    border-color: #FF552F;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    text-align: center;
}

.profileBox{
    border-color: #FF552F;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
}

#login{
    text-align: center;   
}

.textb {
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color:#FF552F;
    background-color: white;
    border-radius: 5px;
    width: 52%;
    margin-left: auto;
    margin-right: auto;
}

 .prpic {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: #8CCCCC;
}

form p{
    text-align: left;
    width: 200px;
    margin-left: 25px;
    
}

#profilo{
    text-align: left;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: #8CCCCC;
    width: 53%;
    padding-top: 25px;
    height: auto;
    padding-bottom: 50px;
}

#profilo textArea:focus, #profilo input:focus{
    border-color: #8CCCCC;
    box-shadow: 0 0 10px #8CCCCC;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    
}

.profileBox{
    width: 200px;
    margin:25px;
    padding:10px;
    
}

#login input:focus{
    border-color: #8CCCCC;
    box-shadow: 0 0 10px #8CCCCC;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
}




@media only screen and (max-width: 1024px){
    
    #divBody{
        padding-top: 50px;
    }
    
    .post,.textb,.inpForm, #profilo{
        margin-right: 0px;
        width: 53%;
        margin-top: 50px;
        
    }
    
    #profilo{
        width: 52%;
}

    a:hover{
    color: #FF552F;
}

    nav{
    position: fixed;
    bottom:10px;
    left: 10px;
    padding: 5px;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color:  #8CCCCC;
    background-color: white;
    height: auto;
    }
    
    nav li{
         border-bottom: 3px dotted #FF552F;  
    }
    
    #sommario{
        display: none;
    }
    
    #sidebar1 {
        float: left;
        width: 180px;
        padding-left: 5px;
        padding-top: 15px;

    }
    
    #sidebar2{
        display: none;
    }
    
    nav ol, nav li{
        margin: 0px;
        padding: 0px;
    }
    
    header{
    position: fixed;
    height: 50px;
    width: auto;
    top:0;
    left: 0;
    margin: 5px;
    box-shadow: -5px -5px 5px #474f87;
}

    #title h1{
    font-size: 25px;
}

.postImg img{
    margin-left: 5%;
    margin-right: 0%;
    border-style: solid;
    border-color:black;;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
}

    #title{
    font-size:15px;
    width: 110px;
    padding-right: 10px;
    box-shadow: 0px 0px 20px #8CCCCC;
    border-style: solid;
    border-width: 5px;
    border-color: #8CCCCC;
    background-color: #8CCCCC;
    border-radius: 10px;
}

#navTitle{
    display: list-item;
    list-style: none;
    border-bottom: 3px solid #8CCCCC;
    margin-bottom: 10px;
    
}

    #intro{
    background: none;
}

    footer{
    display: none;
}
}

@media only screen and (max-width:480px){

    
nav{
        position: static;
        top: 52px;
        display:block;
        border: none;
        margin: 0;
        padding: 0;
        width:  100%;
        
    }
    
nav ol, nav li{
        text-align: center;
        width: 100%;
        background-color: #8CCCCC;
        border:none;
        margin: 0;
        padding: 0;
        margin: 0px;
    }
    
nav li{
         border-bottom: 3px dotted #FF552F;  
    }
    
#sidebar2, #sidebar1,#navTitle{
        display: none;
    }
    
nav li:last-child{
    border-bottom: 3px solid black;
}

.post,.textb,.inpForm, #profilo{
        margin-right: 1%;
        width: 99%;
        margin-top: 52px;
        border: none;  
        border-bottom: 3px solid #FF552F;
        padding-bottom: 15px; 
    }
    
#loginPage{
      padding-top:50px;
    }
    
body{
        background: white;
    }
    
#header{
        text-align: center;
    position: static;
    height: 50px;
    width: auto;
    top:0;
    left: 0;
    margin: 0px;
    
}

#title h1{
    font-size: 25px;
}

#title{
    font-size:15px;
    width: 99%;    
    border-style: solid;
    border-width: 5px;
    border-color: #8CCCCC;
    background-color: #8CCCCC;
    box-shadow: none;
    border-radius: 0px;
}

header{
    box-shadow: none;
    margin: 0;
    
}
}
