
/* 
    Created on : Mar 27, 2017, 12:18:36 PM
    Author     : Davide
*/

body{
    background-color: #8CCCCC;
    font: 17px "Lucida Bright", Lucida, serif;
    color:#e6ffff;
}

h1{
    margin-top: 10px;
    color: #ffffff;
    font: 40px "Lucida Bright", Lucida, serif;
    font-weight: bold;
}

a:link{
    font-size: 20px;
    text-decoration: none;
    color: #006666;
    font-weight: bold;
    text-shadow: 1px 1px #b3ffff;
}

a:visited{
    font-size: 20px;
    text-decoration: none;
    color: #006666;
    font-weight: bold;
    text-shadow: 1px 1px #b3ffff;
}

a:hover{
    font-weight: lighter;
}