
/* 
    Created on : Mar 27, 2017, 12:18:36 PM
    Author     : Davide
*/

body{
    background-color: whitesmoke;
    font: 17px "Lucida Bright", Lucida, serif;
    color: dodgerblue;
    display:block;
}

h1{
    margin-top: 10px;
    color: #FF552F;
    font: 40px "Lucida Bright", Lucida, serif;
    font-weight: bold;
}

#loginPage h1{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    
}
h2{
    margin-top: 10px;
    color: #FF552F;
    font: 30px "Lucida Bright", Lucida, serif;
    font-weight: bold;
}

#loginPage h2{
    color: #474f87;
    font: 20px "Lucida Bright", Lucida, serif;
    font-weight: bold;
    text-align: center;
}

h3{
    margin-top: 10px;
    color: #FF552F;
    font: 23px "Lucida Bright", Lucida, serif;
    font-weight: bold;
}
a:link{
    font-size: 20px;
    text-decoration: none;
    color: #474f87;
    font-weight: bold;
    text-shadow: 1px 1px #b3ffff;
}

a:visited{
    font-size: 20px;
    text-decoration: none;
    color: #474f87;
    font-weight: bold;
    text-shadow: 1px 1px #b3ffff;
}

a:hover{
    font-weight:lighter;
}

.pname {
    color: #474f87;
    background-size: 20px;
    background-image: url(img/profile.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 20px;
    vertical-align: middle;
    display: block;
    padding-left: 22px;
}

.pcontent {
    font-style:italic;
    border-style:dotted;
    border-color: lightblue;
    background-size: 20px;
    background-image: url(img/pencil.png);
    background-repeat: no-repeat;
    background-position: left;
    height: auto;
    vertical-align: middle;
    display: block;
    padding-left: 22px;
}

.inpForm{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 100px;
    border-radius: 5px;
    border-style: solid;
    border-color:#FF552F;
    background-color: white;
    width: 400px;
}

#username, #password{
    display: block;
    box-shadow: 2px 2px 5px #474f87;
    border-bottom-color: #8CCCCC;
    border-style: solid;
    border-radius: 5px;
    border-bottom: none;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

#passwordBox, #usernameBox {
    border-color: #FF552F;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    text-align: center;
}
.profileBox{
    border-color: #FF552F;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
}

#login{
    text-align: center;   
}


.post{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color:#FF552F;
    background-color: white;
    border-radius: 5px;
    width: 500px;
}

.post img{
    margin-left: 22px;
}

.postImg img{
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-color:black;;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 250px;
}

.textb {
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color:#FF552F;
    background-color: white;
    border-radius: 5px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#divBody{
    padding-top:60px;
    padding-bottom: 60px;
}

header{
    position: fixed;
    height: 50px;
    width: auto;
    top:0;
    left: 0;
    margin: 5px;
    box-shadow: -5px -5px 5px #474f87;
}

#title{
    float: left;
    padding-right: 10px;
    box-shadow: 0px 0px 20px #8CCCCC;
    border-style: solid;
    border-width: 5px;
    border-color: #8CCCCC;
    background-color: #8CCCCC;
    border-radius: 10px;
}
footer{
    
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: auto;
    display: block;
    text-align: center;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px #474f87;
}

header, footer{
    background-color: #8CCCCC;
    color: white;
    text-shadow: 1px 1px black;
    left: 0;
    right: 0;
}



nav ol, nav li{
    list-style-type: none;
    display: inline-block;
}

nav li{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 3px dotted white;
}

nav li:last-child{
    border-right: 3px solid white;
}
 .prpic {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: #8CCCCC;
}

#profilo{
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: #8CCCCC;
    width: 600px;
    padding-top: 30px;
}

#profilo textArea:focus, #profilo input:focus{
    border-color: #8CCCCC;
    box-shadow: 0 0 10px #8CCCCC;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    
}

#login input:focus{
    border-color: #8CCCCC;
    box-shadow: 0 0 10px #8CCCCC;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
}
aside{
    position: fixed;
    top:100px;
    left: 0px;
    padding: 5px;
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color:  #8CCCCC;
    background-color: white;
    
    
}
#sommario ol{
    list-style-type: upper-roman;
    list-style-position: inside;
    padding-left:0;
}

#sommario ul{
    padding-left:6px;
    text-justify: distribute;
}